*{
  margin: 0;
  padding: 0;
}
.banner{
  background-image: url("https://statics.olx.in/external/base/img/hero-bg-in.jpg");
    height: 252px;
    background-repeat: no-repeat;
    background-position: 51%;
    background-size: cover;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
}
a{
  text-decoration: none;
}
.MuiTypography-displayBlock {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.MuiCardHeader-content{
  overflow: hidden;
}



input {
  outline:none;
 }
