.header{
    background-color:#bb0467;
    height:72px;
    display: flex;
    padding-top: 7px;
    align-items: center;
    box-shadow: 0 0 10px #719ECE;
}

.header-logo{
    width: 100px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 1px;
    object-fit: contain;
}
.header_nav{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}

.header_search{
    display: flex;
    flex: 1;
}
.header_searchInput{
    height:16px;
    padding: 11px;
    border: none;
    width: 100%;
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
    
}
.header_searchIcon{
    background-color: rgb(168 64 64);
    padding: 7px;
    height: 23px !important;
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
    cursor: pointer;
}
.header_link{
    color: white;
    text-decoration: none;
    font-family: sans-serif
}
.header_option{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
    color: white;
    font-family: sans-serif;
}

input[type=text]:focus {
    height: 13px;
  }
  input:focus{
    outline: none !important;
    border:2px solid #719ECE;
    box-shadow: 0 0 10px #719ECE;
}
.filter-options-nav{
    background-color:#490027;
    Height:30px;
    display: flex;
}
.filter-options{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    color: white;
    font-family: sans-serif;
    
}